


<div class="jumbotron d-flex align-items-center min-vh-100" style= "background-color:inherit">
  <div class="container text-center">
    <%= link_to cocktails_path  do %>
    <%= image_tag ('cocktail-logo.jpg'), class: " align-middle avatar-extra-large", alt: "avatar-extra-large" %>
  <% end %>
  </div>
</div>